<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消费列表页</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>消费列表</title>

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstraptable/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />


</head>

<body>

<div class="container-fluid">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="preAdd();">
        新增加油项
    </button>

    <h2>加油信息表</h2>
    <br>

    <form class="form-inline">
        <div class="form-group">
            <label for="searchNameoftank">请输入油罐名称</label>
            <input type="text" class="form-control" id="searchNameoftank" placeholder="请输入名称" name="searchNameoftank">
        </div>

        <button type="button" class="btn btn-default" onclick="search();">查询</button>
    </form>

    <br>

    <form class="form-inline">
        <div class="form-group">
            <label for="searchProduct">请输入油品名称</label>
            <input type="text" class="form-control" id="searchProduct" placeholder="请输入油品名称" name="searchProduct">
        </div>

        <button type="button" class="btn btn-default" onclick="searchproduct();">查询</button>
    </form>

    <br>

    <form class="form-inline">
        <div class="form-group">
            <label for="searchCardnumber">请输入卡号</label>
            <input type="text" class="form-control" id="searchCardnumber" placeholder="请输入卡号" name="searchCardnumber">
        </div>

        <button type="button" class="btn btn-default" onclick="searchcardnumber();">查询</button>
    </form>

    <br>

    <br>
</div>

<div class="left"  style="width: 50% ; " >
    <table class="table table-bordered" id="casTable" style="width: 1200px">

    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">会员信息</h4>
            </div>
            <div class="modal-body">

                <form id="formCast">

                    <input hidden="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="cardnumber">卡号</label>
                        <input type="text" class="form-control" id="cardnumber" name="cardnumber" placeholder="卡号">
                    </div>
                    <div class="form-group">
                        <label for="lplatenumber">车牌号码</label>
                        <input type="text" class="form-control" id="lplatenumber" name="lplatenumber" placeholder="车牌号码">
                    </div>
                    <div class="form-group">
                        <label for="nameoftank">油罐名称</label>
                        <input type="text" class="form-control" id="nameoftank" name="nameoftank" placeholder="油罐名称">
                    </div>
                    <div class="form-group">
                        <label for="product">油品名称</label>
                        <input type="text" class="form-control" id="product" name="product" placeholder="油品名称">
                    </div>
                    <div class="form-group">
                        <label for="numberof">数量</label>
                        <input type="text" class="form-control" id="numberof" name="numberof" placeholder="数量">
                    </div>
                    <div class="form-group">
                        <label for="unitprice">单价</label>
                        <input type="text" class="form-control" id="unitprice" name="unitprice" placeholder="单价">
                    </div>
                    <div class="form-group">
                        <label for="receivableamount">应收金额</label>
                        <input type="text" class="form-control" id="receivableamount" name="receivableamount" placeholder="应收金额">
                    </div>
                    <div class="form-group">
                        <label for="paidin">实收金额</label>
                        <input type="text" class="form-control" id="paidin" name="paidin" placeholder="实收金额">
                    </div>
                    <div class="form-group">
                        <label for="comeontime">加油时间</label>
                        <input type="text" class="form-control" id="comeontime" name="comeontime" placeholder="加油时间">
                    </div>
                    <div class="form-group">
                        <label for="termsofpayment">付款方式</label>
                        <input type="text" class="form-control" id="termsofpayment" name="termsofpayment" placeholder="付款方式">
                    </div>
                    <div class="form-group">
                        <label for="cumulative">累积消费</label>
                        <input type="text" class="form-control" id="cumulative" name="cumulative" placeholder="累积消费">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveCast();">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/bootstraptable/bootstrap-table.min.js"></script>
<script src="/plugins/bootstraptable/locale/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript">


    function search() {

        $('#casTable').bootstrapTable("destroy");
        loadTable();
    }

    function searchproduct() {

        $('#casTable').bootstrapTable("destroy");
        loadProduct();

    }

    function searchcardnumber(){

        $('#casTable').bootstrapTable("destroy");
        loadCardnumber();
    }


    function preAdd() {

        $("#id").val(0);

    }

    function saveCast() {

        var num = $("#numberof").val() * $("#unitprice").val();

        $("#paidin").val(num);

        $("#receivableamount").val(num);

        $("#cumulative").val(num);

        if ($("#receivableamount").val(num)>0){

            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth()+1;
            var date = now.getDate();
            var hour = now.getHours();//得到小时
            var minu = now.getMinutes();//得到分钟

            var nowtime = year +"年-"+month+"月-"+date+"日-"+hour+"点-"+minu+"分";

            $("#comeontime").val(nowtime);
        }

        var data = $("#formCast").serialize();

        var id = $("#id").val();

        if (id < 1) {

            $.ajax({
                url: '/webapi/cast/insert',
                method: 'post',
                data: data

            }).done(function() {

                loadTable();

                $('#myModal').modal('hide')

            })

        } else {

            $.ajax({
                url: '/webapi/cast/update',
                method: 'put',
                data: data

            }).done(function() {

                loadTable();

                $('#myModal').modal('hide')

            })
        }

        var nameoftank = $("#nameoftank").val();

        var numb = $("#numberof").val();

        $.ajax({
            url:"/webapi/tank/getby/" + nameoftank
        }).done(function(rs){

            rs.stockupseveral = rs.stockupseveral - numb;

            var da = {
                id:rs.id,
                nameoftank:rs.nameoftank,
                product:rs.product,
                categories:rs.categories,
                inventorytonnage:rs.inventorytonnage,
                conversionratio:rs.conversionratio,
                inventoryfloor:rs.inventoryfloor,
                stockupseveral:rs.stockupseveral,
                retailprice:rs.retailprice,
                note:rs.note,
                dateregistration:rs.dateregistration
            }

            $.ajax({
                url:"/webapi/tank/update",
                method:"put",
                data:da
            })
        })
    }

    function editCast(id) {

        $('#myModal').modal('show');

        $.ajax({
            url: '/webapi/cast/get/' + id

        }).done(function(rs) {

            $('#id').val(rs.id);
            $('#cardnumber').val(rs.cardnumber);
            $('#lplatenumber').val(rs.lplatenumber);
            $('#nameoftank').val(rs.nameoftank);
            $('#product').val(rs.product);
            $('#numberof').val(rs.numberof);
            $('#unitprice').val(rs.unitprice);
            $('#receivableamount').val(rs.receivableamount);
            $('#paidin').val(rs.paidin);
            $('#comeontime').val(rs.comeontime);
            $('#termsofpayment').val(rs.termsofpayment);
            $('#cumulative').val(rs.cumulative);

        })

    }


    function loadProduct() {

        $('#casTable').bootstrapTable({
            url: '/webapi/cast/getbypageproduct',
            striped: true,
            pagination: true,
            singleSelect: false,
            pageSize: 3,
            pageNumber: 1,
            sidePagination: "server",
            queryParams: function(params) {

                var paraObj = {
                    size: params.limit,
                    page: params.offset / params.limit,
                    sort: "id",
                    direct: "desc",
                    product: $("#searchProduct").val(),
                };

                return paraObj;
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'cardnumber',
                title: '卡号'
            }, {
                field: 'lplatenumber',
                title: '车牌号码'
            }, {
                field: 'nameoftank',
                title: '油罐名称'
            }, {
                field: 'product',
                title: '油品名称'
            }, {
                field: 'numberof',
                title: '数量'
            }, {
                field: 'unitprice',
                title: '单价'
            }, {
                field: 'receivableamount',
                title: '应收金额'
            }, {
                field: 'paidin',
                title: '实收金额'
            }, {
                field: 'comeontime',
                title: '加油时间'
            }, {
                field: 'termsofpayment',
                title: '付款方式'
            }, {
                field: 'cumulative',
                title: '累积消费'
            }]
        });

    }

    function loadCardnumber() {

        $('#casTable').bootstrapTable({
            url: '/webapi/cast/getbypagecardnumber',
            striped: true,
            pagination: true,
            singleSelect: false,
            pageSize: 3,
            pageNumber: 1,
            sidePagination: "server",
            queryParams: function(params) {

                var paraObj = {
                    size: params.limit,
                    page: params.offset / params.limit,
                    sort: "id",
                    direct: "desc",
                    cardnumber: $("#searchCardnumber").val(),
                };

                return paraObj;
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'cardnumber',
                title: '卡号'
            }, {
                field: 'lplatenumber',
                title: '车牌号码'
            }, {
                field: 'nameoftank',
                title: '油罐名称'
            }, {
                field: 'product',
                title: '油品名称'
            }, {
                field: 'numberof',
                title: '数量'
            }, {
                field: 'unitprice',
                title: '单价'
            }, {
                field: 'receivableamount',
                title: '应收金额',
                formatter:function (value,row,index) {

                    var totl;

                    totl = row.numberof * row.unitprice;

                    return totl;
                }
            }, {
                field: 'paidin',
                title: '实收金额',
                formatter:function (value ,row,index) {

                    var tru;

                    tru = row.numberof * row.unitprice;

                    return tru;
                }
            }, {
                field: 'comeontime',
                title: '加油时间'
            }, {
                field: 'termsofpayment',
                title: '付款方式'
            }, {
                field: 'cumulative',
                title: '累积消费'
            }]
        });


    }//end of loadTable


    function loadTable() {

        $('#casTable').bootstrapTable({
            url: '/webapi/cast/getbypagenameoftank',
            striped: true,
            pagination: true,
            singleSelect: false,
            pageSize: 3,
            pageNumber: 1,
            sidePagination: "server",
            queryParams: function(params) {

                var paraObj = {
                    size: params.limit,
                    page: params.offset / params.limit,
                    sort: "id",
                    direct: "desc",
                    nameoftank: $("#searchNameoftank").val(),
                };

                return paraObj;
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'cardnumber',
                title: '卡号'
            }, {
                field: 'lplatenumber',
                title: '车牌号码'
            }, {
                field: 'nameoftank',
                title: '油罐名称'
            }, {
                field: 'product',
                title: '油品名称'
            }, {
                field: 'numberof',
                title: '数量'
            }, {
                field: 'unitprice',
                title: '单价'
            }, {
                field: 'receivableamount',
                title: '应收金额'
            }, {
                field: 'paidin',
                title: '实收金额'
            }, {
                field: 'comeontime',
                title: '加油时间'
            }, {
                field: 'termsofpayment',
                title: '付款方式'
            }, {
                field: 'cumulative',
                title: '累积消费'
            }]
        });

    }

    $(function() {

        loadTable();

    });

</script>

</body>
</html>
