<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员列表页</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员列表</title>

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstraptable/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

	<style>

        .left{
			height: 100%;
            width: 50% ;
            float: left;

        }
        .left h2{
            display: flex;
            justify-content: center;
        }
        .right{
			position: fixed;
			right: 0;
			height: 100%;
            width: 50%;
            float: right;
			border-left: 1px solid #1B6D85;
        }
        .posi{
            display: flex;
            align-items: center;
            justify-content: center;
			height: 650px
        }
		.posi button{
			display: flex;
			justify-content: center;
		}

    </style>

</head>

<body>


<div class="left">
    <table class="table table-bordered" id="memTable" style="width: 1200px">

    </table>
</div>

<div class="right">
  <div class="posi">
	<div class="container-fluid">
	
	    <!-- Button trigger modal -->
	    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="preAdd();">
	        新增会员
	    </button>
	
	    <h2>会员信息表</h2>
	    <br>
	
	    <form class="form-inline">
	        <div class="form-group">
	            <label for="searchMembername">请输入名字</label>
	            <input type="text" class="form-control" id="searchMembername" placeholder="请输入名称" name="searchMembername">
	        </div>
	
	        <button type="button" class="btn btn-default" onclick="search();">查询</button>
	    </form>
	
	    <br>
	
	    <form class="form-inline">
	        <div class="form-group">
	            <label for="searchGender">请输入性别</label>
	            <input type="text" class="form-control" id="searchGender" placeholder="1.男，0.女" name="searchGender">
	        </div>
	
	        <button type="button" class="btn btn-default" onclick="searchgender();">查询</button>
	    </form>
	
	    <br>
	
	    <form class="form-inline">
	        <div class="form-group">
	            <label for="searchGender">请输入会员查询条件</label>
	            <input type="text" class="form-control" id="searchIsvip" placeholder="1.是会员，0.不是会员" name="searchIsvip">
	        </div>
	
	        <button type="button" class="btn btn-default" onclick="searchisvip();">查询</button>
	    </form>
	
	    <br>
	</div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">会员信息</h4>
            </div>
            <div class="modal-body">

                <form id="formMembers">

                    <input hidden="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="membername">姓名</label>
                        <input type="text" class="form-control" id="membername" name="membername" placeholder="姓名">
                    </div>
                    <div class="form-group">
                        <label for="phonenumber">联系电话</label>
                        <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="联系电话">
                    </div>
                    <div class="form-group">
                        <label for="gender">性别</label>
                        <select class="form-control" id="gender" name="gender">
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cardnumber">卡号</label>
                            <input type="text" class="form-control" id="cardnumber" name="cardnumber" placeholder="卡号">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="originalamount">原始金额</label>
                        <input type="text" class="form-control" id="originalamount" name="originalamount" placeholder="原始金额">
                    </div>
                    <div class="form-group">
                        <label for="topupamount">充值金额</label>
                        <input type="text" class="form-control" id="topupamount" name="topupamount" placeholder="充值金额">
                    </div>
                    <div class="form-group">
                        <label for="topupdate">充值日期</label>
                        <input type="text" class="form-control" id="topupdate" name="topupdate" placeholder="充值日期">
                    </div>
                    <div class="form-group">
                        <label for="lplatenumber">车牌号码</label>
                        <input type="text" class="form-control" id="lplatenumber" name="lplatenumber" placeholder="车牌号码">
                    </div>
                    <div class="form-group">
                        <label for="vehicletype">车辆类型</label>
                        <input type="text" class="form-control" id="vehicletype" name="vehicletype" placeholder="车辆类型">
                    </div>
                    <div class="form-group">
                        <label for="vehicletypel">车辆型号</label>
                        <input type="text" class="form-control" id="vehicletypel" name="vehicletypel" placeholder="车辆型号">
                    </div>
                    <div class="form-group">
                        <label for="entity">单位名称</label>
                        <input type="text" class="form-control" id="entity" name="entity" placeholder="单位名称">
                    </div>
                    <div class="form-group">
                        <label for="carddate">办卡日期</label>
                        <input type="text" class="form-control" id="carddate" name="carddate" placeholder="办卡日期">
                    </div>
                    <div class="form-group">
                        <label for="address">地址</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="地址">
                    </div>
                    <div class="form-group">
                        <label for="note">备注</label>
                        <input type="text" class="form-control" id="note" name="note" placeholder="备注">
                    </div>
                    <div class="form-group">
                        <label for="isvip">是否会员</label>
                        <input type="text" class="form-control" id="isvip" name="isvip" placeholder="备注">
                    </div>
                    <div class="form-group">
                        <label for="accumulatedtopup">累积充值</label>
                        <input type="text" class="form-control" id="accumulatedtopup" name="accumulatedtopup" placeholder="累积充值">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveMembers();">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/bootstraptable/bootstrap-table.min.js"></script>
<script src="/plugins/bootstraptable/locale/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript">


    function search() {

        $('#memTable').bootstrapTable("destroy");
        loadTable();
    }

    function searchgender() {

        $('#memTable').bootstrapTable("destroy");
        loadGender();

    }

    function searchisvip(){

        $('#memTable').bootstrapTable("destroy");
        loadIsvip();
    }

    function preAdd() {

        $("#id").val(0);

    }

    function saveMembers() {

        var yuan = $("#accumulatedtopup").val();

        var cho = $("#topupamount").val();

        if (Number(cho)>0){

            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth()+1;
            var date = now.getDate();
            var hour = now.getHours();//得到小时
            var minu = now.getMinutes();//得到分钟

            var nowtime = year +"年-"+month+"月-"+date+"日-"+hour+"点-"+minu+"分";

            $("#topupdate").val(nowtime);

            $("#accumulatedtopup").val(yuan+cho);
        }



        var data = $("#formMembers").serialize();

        var id = $("#id").val();

        if (id < 1) {

            $.ajax({
                url: '/webapi/members/insert',
                method: 'post',
                data: data

            }).done(function() {

                loadTable();

                $('#myModal').modal('hide')

            })

        } else {

            $.ajax({
                url: '/webapi/members/update',
                method: 'put',
                data: data

            }).done(function() {

                loadTable();

                $('#myModal').modal('hide')

            })
        }
    }

    function editMembers(id) {

        $('#myModal').modal('show');

        $.ajax({
            url: '/webapi/members/get/' + id

        }).done(function(rs) {

            $('#id').val(rs.id);
            $('#membername').val(rs.membername);
            $('#phonenumber').val(rs.phonenumber);
            $('#gender').val(rs.gender);
            $('#cardnumber').val(rs.cardnumber);
            $('#originalamount').val(rs.originalamount);
            $('#topupamount').val(rs.topupamount);
            $('#topupdate').val(rs.topupdate);
            $('#lplatenumber').val(rs.lplatenumber);
            $('#vehicletype').val(rs.vehicletype);
            $('#vehicletypel').val(rs.vehicletypel);
            $('#entity').val(rs.entity);
            $('#carddate').val(rs.carddate);
            $('#address').val(rs.address);
            $('#note').val(rs.note);
            $('#isvip').val(rs.isvip);
            $('#accumulatedtopup').val(rs.accumulatedtopup);


        })

    }

    function deleteMembers(id) {

        if (confirm("确定删除？!")) {

            $.ajax({
                url: '/webapi/members/delete/' + id,
                method: 'delete'

            }).done(function() {

                loadTable();

            });

        }
    }

    function loadGender() {

        $('#memTable').bootstrapTable({
            url: '/webapi/members/getbypage',
            striped: true,
            pagination: true,
            singleSelect: false,
            pageSize: 3,
            pageNumber: 1,
            sidePagination: "server",
            queryParams: function(params) {

                var paraObj = {
                    size: params.limit,
                    page: params.offset / params.limit,
                    sort: "id",
                    direct: "desc",
                    gender: $("#searchGender").val(),
                };

                return paraObj;
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'membername',
                title: '姓名'
            }, {
                field: 'phonenumber',
                title: '联系电话'
            }, {
                field: 'gender',
                title: '性别',
                formatter: function(value, row, index) {

                    if (row.gender == 1) {
                        return "男";
                    } else if (row.gender == 0) {
                        return "女";
                    }
                }
            }, {
                field: 'cardnumber',
                title: '卡号'
            }, {
                field: 'originalamount',
                title: '原始金额'
            },{
                field: 'originalamount',
                title: '原始金额'
            },{
                field: 'topupamount',
                title: '充值金额'
            }, {
                field: 'topupdate',
                title: '充值日期'
            }, {
                field: 'vehicletype',
                title: '车辆类型'
            }, {
                field: 'vehicletypel',
                title: '车辆型号'
            }, {
                field: 'entity',
                title: '单位名称'
            }, {
                field: 'carddate',
                title: '办卡日期'
            }, {
                field: 'address',
                title: '地址'
            }, {
                field: 'note',
                title: '备注'
            },{
                field: 'isvip',
                title: '是否是会员',
                formatter: function(value, row, index) {

                    if (row.isvip == 1) {
                        return "是会员";
                    } else if (row.isvip == 0) {
                        return "非会员";
                    }
                }
            },{
                field: 'accumulatedtopup',
                title: '累积充值'
            }, {
                field: '...',
                title: '操作',
                formatter: addBtton,
                events: {
                    'click #edit': function (event, value, row, index){
                        editMembers(row.id);
                    },
                    'click #dele': function(event, value, row, index){
                        deleteMembers(row.id);
                    }
                }
            }]
        });

        function addBtton(){

            var html =
                '<a id="edit"><i class="fa fa-pencil-square-o fa-2x" style="color: goldenrod" title="编辑"></i></a>'
                + '<span>  </span>'+'<a id="dele"><i class="fa fa-trash-o fa-2x" style="color: red" title="删除"></i> </a>'

            return html;
        }

    }


    function loadTable() {

        $('#memTable').bootstrapTable({
            url: '/webapi/members/getbypagemembername',
            striped: true,
            pagination: true,
            singleSelect: false,
            pageSize: 3,
            pageNumber: 1,
            sidePagination: "server",
            queryParams: function(params) {

                var paraObj = {
                    size: params.limit,
                    page: params.offset / params.limit,
                    sort: "id",
                    direct: "desc",
                    membername: $("#searchMembername").val(),
                };

                return paraObj;
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'membername',
                title: '姓名'
            }, {
                field: 'phonenumber',
                title: '联系电话'
            }, {
                field: 'gender',
                title: '性别',
                formatter: function(value, row, index) {

                    if (row.gender == 1) {
                        return "男";
                    } else if (row.gender == 0) {
                        return "女";
                    }
                }
            }, {
                field: 'cardnumber',
                title: '卡号'
            }, {
                field: 'originalamount',
                title: '原始金额'
            }, {
                field: 'topupamount',
                title: '充值金额'
            }, {
                field: 'topupdate',
                title: '充值日期'
            }, {
                field: 'lplatenumber',
                title: '车牌号码'
            }, {
                field: 'vehicletype',
                title: '车辆类型'
            }, {
                field: 'vehicletypel',
                title: '车辆型号'
            }, {
                field: 'entity',
                title: '单位名称'
            }, {
                field: 'carddate',
                title: '办卡日期'
            }, {
                field: 'address',
                title: '地址'
            }, {
                field: 'note',
                title: '备注'
            }, {
                field: 'isvip',
                title: '是否是会员',
                formatter: function(value, row, index) {

                    if (row.isvip == 1) {
                        return "是会员";
                    } else if (row.isvip == 0) {
                        return "非会员";
                    }
                }
            }, {
                field: 'accumulatedtopup',
                title: '累积充值'
            },{
                field: '...',
                title: '操作',
                formatter: addBtton,
                events: {
                    'click #edit': function (event, value, row, index){
                        editMembers(row.id);
                    },
                    'click #dele': function(event, value, row, index){
                        deleteMembers(row.id);
                    }
                }
            }]
        });

        function addBtton(){

            var html =
                '<a id="edit"><i class="fa fa-pencil-square-o fa-2x"  style="color:goldenrod " title="编辑"></i></a>'
                + '<span>  </span>'+ '<a id="dele"><i class="fa fa-trash-o fa-2x"  style="color: red" title="删除"></i> </a>'
            return html;
        }


    }//end of loadTable

    function loadIsvip() {

        $('#memTable').bootstrapTable({
            url: '/webapi/members/getbypageisvip',
            striped: true,
            pagination: true,
            singleSelect: false,
            pageSize: 3,
            pageNumber: 1,
            sidePagination: "server",
            queryParams: function(params) {

                var paraObj = {
                    size: params.limit,
                    page: params.offset / params.limit,
                    sort: "id",
                    direct: "desc",
                    isvip: $("#searchIsvip").val(),
                };

                return paraObj;
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'membername',
                title: '姓名'
            }, {
                field: 'phonenumber',
                title: '联系电话'
            }, {
                field: 'gender',
                title: '性别',
                formatter: function(value, row, index) {

                    if (row.gender == 1) {
                        return "男";
                    } else if (row.gender == 0) {
                        return "女";
                    }
                }
            }, {
                field: 'cardnumber',
                title: '卡号'
            }, {
                field: 'originalamount',
                title: '原始金额'
            }, {
                field: 'lplatenumber',
                title: '车牌号码'
            }, {
                field: 'vehicletype',
                title: '车辆类型'
            }, {
                field: 'vehicletypel',
                title: '车辆型号'
            }, {
                field: 'entity',
                title: '单位名称'
            }, {
                field: 'carddate',
                title: '办卡日期'
            }, {
                field: 'address',
                title: '地址'
            }, {
                field: 'note',
                title: '备注'
            },{
                field: 'isvip',
                title: '是否是会员',
                formatter: function(value, row, index) {

                    if (row.isvip == 1) {
                        return "是会员";
                    } else if (row.isvip == 0) {
                        return "非会员";
                    }
                }
            }, {
                field: 'accumulatedtopup',
                title: '累积充值'
            }, {
                field: '...',
                title: '操作',
                formatter: addBtton,
                events: {
                    'click #edit': function (event, value, row, index){
                        editMembers(row.id);
                    },
                    'click #dele': function(event, value, row, index){
                        deleteMembers(row.id);
                    }
                }
            }]
        });

        function addBtton(){

            var html =
                '<a id="edit"><i class="fa fa-pencil-square-o fa-2x"  style="color:goldenrod " title="编辑"></i></a>'
                + '<span>  </span>'+ '<a id="dele"><i class="fa fa-trash-o fa-2x"  style="color: red" title="删除"></i> </a>'
            return html;
        }


    } //end of loadTable


    $(function() {

        loadTable();

    });

</script>

</body>
</html>
