<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>值班列表</title>

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstraptable/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

	<style>
	
	    .left{
			height: 100%;
	        width: 50% ;
	        float: left;
	
	    }
	    .left h2{
	        display: flex;
	        justify-content: center;
	    }
	    .right{
			position: fixed;
			right: 0;
			height: 100%;
	        width: 50%;
	        float: right;
			border-left: 1px solid #1B6D85;
	    }
	    .posi{
	        display: flex;
	        align-items: center;
	        justify-content: center;
			height: 650px
	    }
		.posi button{
			display: flex;
			justify-content: center;
		}
	
	</style>

</head>

<body>


<div class="left" >
	<h2>值班信息表</h2>
    <table class="table table-bordered" id="shiTable" style="width: 1200px">

    </table>
</div>

<div class="right">
  <div class="posi">
	<div class="container-fluid">
	
	
	    <br>
	
	
	    <form class="form-inline">
	        <div class="form-group">
	            <label for="searchShift">请输入班次</label>
	            <input type="text" class="form-control" id="searchShift" placeholder="请输入班次" name="searchShift">
	        </div>
	
	        <button type="button" class="btn btn-default" onclick="searchshift();">确认</button>
	    </form>
	
	    <br>
	
	</div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">值班信息</h4>
            </div>
            <div class="modal-body">

                <form id="formShift">

                    <input hidden="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
                    </div>
                    <div class="form-group">
                        <label for="gender">性别</label>
                        <select class="form-control" id="gender" name="gender">
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="shift">班次</label>
                        <select class="form-control" id="shift" name="shift">
                            <option value="早班">早班</option>
                            <option value="晚班">晚班</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="note">备注</label>
                        <input type="text" class="form-control" id="note" name="note" placeholder="备注">
                    </div>
                    <div class="form-group">
                        <label for="number">员工号</label>
                        <input type="text" class="form-control" id="number" name="number" placeholder="员工号">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveEmployees();">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/bootstraptable/bootstrap-table.min.js"></script>
<script src="/plugins/bootstraptable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/shift.js"></script>



</body>
</html>
